@import './ligthbox';
.search-form input {
  margin-bottom: 30px;
  font-size: 18px;
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1440px;

  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  margin-right: auto;
  margin-left: auto;
}

.photo-card {
  width: 450px;
  margin-top: 30px;
  margin-left: 30px;
}
.photo-card img {
  display: block;
  width: 100%;
}

.stats {
  display: flex;
  justify-content: center;
}

.stats-item {
  display: flex;
  align-items: center;
}

.stats-item:not(:last-child) {
  margin-right: 10px;
}

img {
  cursor: pointer;
}
